@import url("https://fonts.googleapis.com/css?family=Open+Sans");

$mainFont: "Open Sans", sans-serif;

// colors
$mint: #70cbce;
$transparentMint: rgba($mint, 0.7);
$purple: #5c3c87;
$transparentPurple: rgba($purple, 0.7);
$black: #221f20;
$transparentBlack: rgba($black, 0.3);
$white: rgb(233, 236, 239);
$gray: rgb(206, 212, 218);
$darkgray: rgb(102, 102, 102);
$lightgray: rgb(219, 219, 219);
